.img {
    height: 20px;
    width: 20px;
  }
  
  body {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 20px;
  }
  
  nav > ul{
      margin-top: 20px;
      margin: 50px;
      background-color: rgb(102, 97, 97);
  }
  
  nav > ul > li {
      display: inline;
      margin: 70px;
  }
  
  nav > ul > li > a{
  text-decoration: none;
  font weight: bold;
  font-size: 30;
  }

  .ass {
    height: 250px;
    width: 250px;
  }

  .ass2 {
margin: 45px;
padding-left: 10px;
}

  section{
      background-color:white;
      margin: 20px;
      padding: 20px;
    }
  
    .projects{
      display: flex;
    }
  
    .project{
      margin: 10px;
      padding: 10px;
      border:  1px solid white;
      border-radius: 5px;
      /* display: inline */
    }
    
    .project > img{
      width: 500px;
      height: 500px;
    }